@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  justify-content: space-around;
}

.signup-form label {
  padding-bottom: 8px;
}

.signup-form input {
  margin-bottom: 8px;
  height: 28px;
}

.header-signup {
  text-align: center;
  padding-bottom: 7px;
}

/* input:focus {
  outline: black;
} */

.btn {
  border-radius: 20px;
  outline: none;
  padding: 5px;
  background-color: lightblue;
  text-decoration: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.signup-btn {
  margin: 10px 0 10px 0;
}

.form-footer {
  text-align: center;
}
